[submodule "6-grading-tests"]
	path = 6-grading-tests
	url = git@github.com:spbu-coding-2025/6-grading-tests.git
[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list.git
[submodule "6-A-Sozonov"]
	path = 6-A-Sozonov
	url = https://github.com/spbu-coding-2025/6-A-Sozonov.git
	branch = main
[submodule "6-AleksAndr1038"]
	path = 6-AleksAndr1038
	url = https://github.com/spbu-coding-2025/6-AleksAndr1038.git
	branch = main
[submodule "6-AnastasiyaMedentseva"]
	path = 6-AnastasiyaMedentseva
	url = https://github.com/spbu-coding-2025/6-AnastasiyaMedentseva.git
	branch = main
[submodule "6-AndyBarnv"]
	path = 6-AndyBarnv
	url = https://github.com/spbu-coding-2025/6-AndyBarnv.git
	branch = main
[submodule "6-DenisPotapov0"]
	path = 6-DenisPotapov0
	url = https://github.com/spbu-coding-2025/6-DenisPotapov0.git
	branch = main
[submodule "6-LinaraSun"]
	path = 6-LinaraSun
	url = https://github.com/spbu-coding-2025/6-LinaraSun.git
	branch = main
[submodule "6-Lizavod"]
	path = 6-Lizavod
	url = https://github.com/spbu-coding-2025/6-Lizavod.git
	branch = main
[submodule "6-Makuhin-Egor"]
	path = 6-Makuhin-Egor
	url = https://github.com/spbu-coding-2025/6-Makuhin-Egor.git
	branch = main
[submodule "6-RannyayaAnastasia"]
	path = 6-RannyayaAnastasia
	url = https://github.com/spbu-coding-2025/6-RannyayaAnastasia.git
	branch = main
[submodule "6-Redkin-Aleksey"]
	path = 6-Redkin-Aleksey
	url = https://github.com/spbu-coding-2025/6-Redkin-Aleksey.git
	branch = main
[submodule "6-RomanKazz"]
	path = 6-RomanKazz
	url = https://github.com/spbu-coding-2025/6-RomanKazz.git
	branch = main
[submodule "6-arinamklvch"]
	path = 6-arinamklvch
	url = https://github.com/spbu-coding-2025/6-arinamklvch.git
	branch = main
[submodule "6-danisaev"]
	path = 6-danisaev
	url = https://github.com/spbu-coding-2025/6-danisaev.git
	branch = main
[submodule "6-e-leshnik"]
	path = 6-e-leshnik
	url = https://github.com/spbu-coding-2025/6-e-leshnik.git
	branch = main
[submodule "6-estoniec"]
	path = 6-estoniec
	url = https://github.com/spbu-coding-2025/6-estoniec.git
	branch = main
