[submodule "6-grading-tests"]
	path = 6-grading-tests
	url = git@github.com:spbu-coding-2025/6-grading-tests.git
[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list.git
[submodule "6-A-Sozonov"]
	path = 6-A-Sozonov
	url = https://github.com/spbu-coding-2025/6-A-Sozonov.git
	branch = main
[submodule "6-AleksAndr1038"]
	path = 6-AleksAndr1038
	url = https://github.com/spbu-coding-2025/6-AleksAndr1038.git
	branch = main
