[submodule "6-grading-tests"]
	path = 6-grading-tests
	url = git@github.com:spbu-coding-2025/6-grading-tests.git
[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list.git
[submodule "6-A-Sozonov"]
	path = 6-A-Sozonov
	url = https://github.com/spbu-coding-2025/6-A-Sozonov.git
	branch = main
[submodule "6-AleksAndr1038"]
	path = 6-AleksAndr1038
	url = https://github.com/spbu-coding-2025/6-AleksAndr1038.git
	branch = main
[submodule "6-AnastasiyaMedentseva"]
	path = 6-AnastasiyaMedentseva
	url = https://github.com/spbu-coding-2025/6-AnastasiyaMedentseva.git
	branch = main
[submodule "6-AndyBarnv"]
	path = 6-AndyBarnv
	url = https://github.com/spbu-coding-2025/6-AndyBarnv.git
	branch = main
[submodule "6-DenisPotapov0"]
	path = 6-DenisPotapov0
	url = https://github.com/spbu-coding-2025/6-DenisPotapov0.git
	branch = main
[submodule "6-LinaraSun"]
	path = 6-LinaraSun
	url = https://github.com/spbu-coding-2025/6-LinaraSun.git
	branch = main
[submodule "6-Lizavod"]
	path = 6-Lizavod
	url = https://github.com/spbu-coding-2025/6-Lizavod.git
	branch = main
[submodule "6-Makuhin-Egor"]
	path = 6-Makuhin-Egor
	url = https://github.com/spbu-coding-2025/6-Makuhin-Egor.git
	branch = main
[submodule "6-RannyayaAnastasia"]
	path = 6-RannyayaAnastasia
	url = https://github.com/spbu-coding-2025/6-RannyayaAnastasia.git
	branch = main
[submodule "6-Redkin-Aleksey"]
	path = 6-Redkin-Aleksey
	url = https://github.com/spbu-coding-2025/6-Redkin-Aleksey.git
	branch = main
[submodule "6-RomanKazz"]
	path = 6-RomanKazz
	url = https://github.com/spbu-coding-2025/6-RomanKazz.git
	branch = main
[submodule "6-arinamklvch"]
	path = 6-arinamklvch
	url = https://github.com/spbu-coding-2025/6-arinamklvch.git
	branch = main
[submodule "6-danisaev"]
	path = 6-danisaev
	url = https://github.com/spbu-coding-2025/6-danisaev.git
	branch = main
[submodule "6-e-leshnik"]
	path = 6-e-leshnik
	url = https://github.com/spbu-coding-2025/6-e-leshnik.git
	branch = main
[submodule "6-estoniec"]
	path = 6-estoniec
	url = https://github.com/spbu-coding-2025/6-estoniec.git
	branch = main
[submodule "6-liptonn405"]
	path = 6-liptonn405
	url = https://github.com/spbu-coding-2025/6-liptonn405.git
	branch = main
[submodule "6-meow79"]
	path = 6-meow79
	url = https://github.com/spbu-coding-2025/6-meow79.git
	branch = main
[submodule "6-narysh"]
	path = 6-narysh
	url = https://github.com/spbu-coding-2025/6-narysh.git
	branch = main
[submodule "6-Brulevich-Nikita"]
	path = 6-Brulevich-Nikita
	url = https://github.com/spbu-coding-2025/6-Brulevich-Nikita.git
	branch = main
[submodule "6-Ganesha1967"]
	path = 6-Ganesha1967
	url = https://github.com/spbu-coding-2025/6-Ganesha1967.git
	branch = main
[submodule "6-Iseyne"]
	path = 6-Iseyne
	url = https://github.com/spbu-coding-2025/6-Iseyne.git
	branch = main
[submodule "6-IvRevver"]
	path = 6-IvRevver
	url = https://github.com/spbu-coding-2025/6-IvRevver.git
	branch = main
[submodule "6-KrimPast"]
	path = 6-KrimPast
	url = https://github.com/spbu-coding-2025/6-KrimPast.git
	branch = main
[submodule "6-LeoN192"]
	path = 6-LeoN192
	url = https://github.com/spbu-coding-2025/6-LeoN192.git
	branch = main
[submodule "6-Maxdess067"]
	path = 6-Maxdess067
	url = https://github.com/spbu-coding-2025/6-Maxdess067.git
	branch = main
[submodule "6-Maxllon"]
	path = 6-Maxllon
	url = https://github.com/spbu-coding-2025/6-Maxllon.git
	branch = main
[submodule "6-Prosto-Dan"]
	path = 6-Prosto-Dan
	url = https://github.com/spbu-coding-2025/6-Prosto-Dan.git
	branch = main
[submodule "6-Vlm326"]
	path = 6-Vlm326
	url = https://github.com/spbu-coding-2025/6-Vlm326.git
	branch = main
[submodule "6-agresh775"]
	path = 6-agresh775
	url = https://github.com/spbu-coding-2025/6-agresh775.git
	branch = main
[submodule "6-alferukn"]
	path = 6-alferukn
	url = https://github.com/spbu-coding-2025/6-alferukn.git
	branch = main
[submodule "6-gorbuzova"]
	path = 6-gorbuzova
	url = https://github.com/spbu-coding-2025/6-gorbuzova.git
	branch = main
[submodule "6-kabkyrie"]
	path = 6-kabkyrie
	url = https://github.com/spbu-coding-2025/6-kabkyrie.git
	branch = main
[submodule "6-kevetka"]
	path = 6-kevetka
	url = https://github.com/spbu-coding-2025/6-kevetka.git
	branch = main
[submodule "6-lupusarqentum"]
	path = 6-lupusarqentum
	url = https://github.com/spbu-coding-2025/6-lupusarqentum.git
	branch = main
[submodule "6-dem0phob1a"]
	path = 6-dem0phob1a
	url = https://github.com/spbu-coding-2025/6-dem0phob1a.git
	branch = main
[submodule "6-e4d08"]
	path = 6-e4d08
	url = https://github.com/spbu-coding-2025/6-e4d08.git
	branch = main
[submodule "6-kijexs"]
	path = 6-kijexs
	url = https://github.com/spbu-coding-2025/6-kijexs.git
	branch = main
[submodule "6-polka777"]
	path = 6-polka777
	url = https://github.com/spbu-coding-2025/6-polka777.git
	branch = main
[submodule "6-EndlessRevolution"]
	path = 6-EndlessRevolution
	url = https://github.com/spbu-coding-2025/6-EndlessRevolution.git
	branch = main
[submodule "6-davidgordievskij07-cmd"]
	path = 6-davidgordievskij07-cmd
	url = https://github.com/spbu-coding-2025/6-davidgordievskij07-cmd.git
	branch = main
[submodule "6-qwerty787878"]
	path = 6-qwerty787878
	url = https://github.com/spbu-coding-2025/6-qwerty787878.git
	branch = main
[submodule "6-wydfiy"]
	path = 6-wydfiy
	url = https://github.com/spbu-coding-2025/6-wydfiy.git
	branch = main
[submodule "6-AlexeyMashkovichUniWork"]
	path = 6-AlexeyMashkovichUniWork
	url = https://github.com/spbu-coding-2025/6-AlexeyMashkovichUniWork.git
	branch = main
[submodule "6-ButyugovMxx"]
	path = 6-ButyugovMxx
	url = https://github.com/spbu-coding-2025/6-ButyugovMxx.git
	branch = main
[submodule "6-tzubenin"]
	path = 6-tzubenin
	url = https://github.com/spbu-coding-2025/6-tzubenin.git
	branch = main
[submodule "6-LuhTonkaYeat"]
	path = 6-LuhTonkaYeat
	url = https://github.com/spbu-coding-2025/6-LuhTonkaYeat.git
	branch = main
